<!DOCTYPE html>
<html>
<head>
	<title>Show All Feedbacks</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Materialize  Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Sweet Alerts CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>




<div class="ctrlqFormContentWrapper" id="app">
    <div class="ctrlqHeaderMast"></div>
    <div class="ctrlqCenteredContent">
        <div class="ctrlqFormCard">
            <div class="ctrlqAccent"></div>
            <div class="ctrlqFormContent">
		<h3>All General Feedback Listing</h3>
                <table class="bordered striped highlight centered" id="genfeedTable">
                    <thead class="tableHeader">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th colspan="5">General Data</th>
														<th>Delete?</th>
                        </tr>
                    </thead>

                    <tbody>
											<tr>
													<td></td>
													<td></td>
													<td>Recommend</td>
													<td>Satisfied</td>
													<td>Outcome</td>
													<td>Service</td>
													<td>Time</td>
													<td></td>
											</tr>
                        <% for(var i=0; i < feedbacks.length; i++){ %>
                            <tr>
                                <td>
                                    <%= feedbacks[i].fullName %>
                                </td>
                                <td>
                                    <%= feedbacks[i].email %>
                                </td>
                                <td>
                                    <%= feedbacks[i].genFeed.recommend %>
                                </td>
                                <td>
                                    <%= feedbacks[i].genFeed.satisfied %>
                                </td>
                                <td>
                                    <%= feedbacks[i].genFeed.outcome %>
                                </td>
                                <td>
                                    <%= feedbacks[i].genFeed.service %>
                                </td>
                                <td>
                                    <%= feedbacks[i].genFeed.time %>
                                </td>
																<td>
																	<button id="<%= feedbacks[i]._id %>" class="btn-floating waves-effect waves-light red deleteFeedback"><i class="material-icons right">delete_forever</i></button>
																</td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>




<!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

    <!-- Materialize Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <!-- Main JS -->
    <script src="form.js"></script>

		<script type="text/javascript">
			$('.deleteFeedback').click(function(){
				var feedId = this.id;

				swal({
				  title: "Are you sure?",
				  text: "You will not be able to recover this feedback data!",
				  type: "warning",
				  showCancelButton: true,
				  confirmButtonColor: "#DD6B55",
				  confirmButtonText: "Yes, delete it!",
				  closeOnConfirm: false
				},
				function(){
					$.ajax({
	          type: 'DELETE',
	          url: '/getgenAll/'+ feedId,
	          success: function(data){
	          }
	        });
				  swal("Deleted!", "Your imaginary file has been deleted.", "success");
					setTimeout(function(){ location.reload(); }, 1500);
				});


			});
		</script>
</body>
</html>
